<form id='settings-panel'>
	<div class='row'>
		<div class='column'>
			<h2>Reds</h2>
			
			<% for ( const field of predatorFields ) { %>
				<%= field %>
			<% } %>
		</div>
		
		<div class='column'>
			<h2>Greens</h2>
			
			<% for ( const field of preyFields ) { %>
				<%= field %>
			<% } %>
		</div>
		
		<div class='column'>
			<h2>Blues</h2>
			
			<% for ( const field of blueFields ) { %>
				<%= field %>
			<% } %>
		</div>
	</div>
	
	<hr>
	
	<div class='row'>
		<div class='column'>
			<address>
				<a href='https://github.com/Metaphile/Replic8ors' target='_blank'>https://github.com/Metaphile/Replic8ors</a><br>
				<a href='mailto:lasiler@gmail.com' target='_blank'>lasiler@gmail.com</a>
			</address>
		</div>
	</div>
</form>
