<form id='settings-panel'>
	<div class='row'>
		<div class='column'>
			<h2>Black Replicators</h2>
			
			<% for ( const field of predatorFields ) { %>
				<%= field %>
			<% } %>
		</div>
		
		<div class='column'>
			<h2>White Replicators</h2>
			
			<% for ( const field of preyFields ) { %>
				<%= field %>
			<% } %>
		</div>
		
		<div class='column'>
			<h2>Food Particles</h2>
			
			<% for ( const field of foodFields ) { %>
				<%= field %>
			<% } %>
		</div>
	</div>
</form>
