.visualization-container {
	background: black;
	position: relative;
	
	width: 100%;
	height: 100%;
	
	$fadeEndOpacity: 0.5;
	
	&.detached .world {
		animation: fade 2s ease;
		// will have this opacity when animation ends
		opacity: $fadeEndOpacity;
	}
	
	@keyframes fade {
		0% {
			opacity: 1;
		}
		
		100% {
			opacity: $fadeEndOpacity;
		}
	}
	
	// ::before/::after pseudo-elements don't work with "replaced" elements like such as canvas :(
	.world {
		background: radial-gradient( circle at 75% -25%,
			rgb( 245, 245, 245 )  10%, // white
			rgb(  20, 144, 206 )  40%, // light blue
			rgb(  14,  14,  61 )  76%, // dark blue
			rgb(  24,   0,  49 )  85%, // dark purple
			rgb(   0,   0,   0 ) 100%  // black
		);
		
		image-rendering: pixelated;
		
		position: absolute;
		
		top: 0;
		left: 0;
		
		// disable selection on double-click
		-moz-user-select: none;
		-webkit-user-select: none;
	}
}
