<form id='control-bar-form'>
	<!-- <button name='info' title='Info'>
		<i class='fas fa-info'></i>
	</button> -->
	
	<button class='transport' name='pause-resume' title='Pause / play [spacebar]'>
		<i class='fas fa-pause'></i>
	</button>
	
	<button class='transport' name='step' title='Step forward [right arrow key]'>
		<i class='fas fa-step-forward'></i>
	</button>
	
	<button class='transport' name='speed-normal' title='Play [1]'>
		<i class='fas fa-play'></i>
	</button>
	
	<button class='transport' name='speed-fast' title='Fast forward [2]'>
		<i class='fas fa-forward'></i>
	</button>
	
	<button class='transport' name='speed-turbo' title='Turbo [3]'>
		<i class='fas fa-bolt'></i>
	</button>
	
	<input name='elapsed-sim-time' size='16' readonly tabindex='-1'>
	
	<button name='settings' title='Settings [backtick]'>
		<i class='fas fa-cog'></i>
	</button>
</form>
