<form id='control-bar-form'>
	<button name='info' title='show info [escape]'>
		<i class='fas fa-info'></i>
	</button>
	
	<button class='transport' name='pause-resume' title='pause / play [spacebar]'>
		<i class='fas fa-pause'></i>
	</button>
	
	<button class='transport' name='step' title='step forward [right arrow]'>
		<i class='fas fa-step-forward'></i>
	</button>
	
	<button class='transport' name='speed-normal' title='play [1]'>
		<i class='fas fa-play'></i>
	</button>
	
	<button class='transport' name='speed-fast' title='fast forward [2]'>
		<i class='fas fa-forward'></i>
	</button>
	
	<button class='transport' name='speed-turbo' title='turbo / play [3]'>
		<i class='fas fa-bolt'></i>
	</button>
	
	<input name='elapsed-sim-time' title='D:HH:mm:ss.SSS' size='16' readonly tabindex='-1'>
	
	<button name='settings'>
		<i class='fas fa-cog'></i>
	</button>
</form>
