<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title><%= htmlWebpackPlugin.options.title %></title>
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
	</head>
	<body>
		
		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			
			ga('create', 'UA-84622301-1', 'auto');
			ga('send', 'pageview');
		</script>
		
		<section id='info' style='display: none;'>
			<button name='close'>×</button>
			
			<div class='column'>
				<h1 style='text-align: center;'><img src=<%= require('./logo.png') %> alt='Replic8ors' style='image-rendering: pixelated; width: 520px; max-width: 100%;'></h1>
				
				<h3>Introduction</h3>
				
				<p>Replic8ors is a behavioral evolution simulator.</p>
				
				<h3>Features</h3>
				
				<ul>
					<li>Fully visualized neural networks</li>
					<li>No explicit fitness function&mdash;reproductive success is its own reward</li>
					<li>Adjustable timescale, including pause, step, and &quot;turbo&quot;</li>
				</ul>
				
				<h3>Controls</h3>
				
				<ul>
					<li><strong>Click and drag</strong> to pan around</li>
					<li>Zoom in or out with the <strong>mouse wheel</strong> or <strong>scroll gesture</strong></li>
					<li><strong>Click</strong> replicators to select and follow</li>
					<li><strong>Hover</strong> over neurons to highlight active connections</li>
					<li>Pause/resume with <strong>space bar</strong></li>
					<li>Step frame-by-frame with <strong>right arrow key</strong></li>
				</ul>
			</div>
		</section>
		
		<section id='visualization'></section>
		<section id='play-controls'></section>
		
		<p id='version-number'><!-- set in main.js --></p>
		
	</body>
</html>
