<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title><%= htmlWebpackPlugin.options.title %></title>
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
	</head>
	<body>
		
		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			
			ga('create', 'UA-84622301-1', 'auto');
			ga('send', 'pageview');
		</script>
		
		<section id='info' style='display: none;'>
			<button name='close'>×</button>
			
			<h1 style='text-align: center;'><img src=<%= require('./logo.png') %> alt='Replic8ors' style='image-rendering: pixelated; width: 420px; max-width: 100%;'></h1>
			
			<p>Replic8ors is a behavioral evolution simulator featuring fully visualized artificial neural networks. It uses self-replication and natural selection to evolve lifelike behavior in virtual organisms.</p>
			
			<h3>Controls</h3>
			
			<ul>
				<li>Click and drag to <strong>pan around</strong></li>
				<li><strong>Zoom in and out</strong> with the mouse wheel</li>
				<li>Click on a replicator to <strong>automatically track it</strong> (double click to <strong>track and zoom</strong>)</li>
				<li><strong>Pause / resume</strong> with the space bar</li>
				<li><strong>Advance frame-by-frame</strong> with the right arrow key</li>
				<li>Hover over replicators or individual neurons to <strong>analyze network activity</strong> as it happens</li>
			</ul>
		</section>
		
		<section id='visualization'></section>
		<section id='play-controls'></section>
		
		<p id='version-number'><!-- set in main.js --></p>
		
	</body>
</html>
