<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title><%= htmlWebpackPlugin.options.title %></title>
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js' integrity='sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=' crossorigin='anonymous'></script>
	</head>
	<body>
		
		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			
			ga('create', 'UA-84622301-1', 'auto');
			ga('send', 'pageview');
		</script>
		
		<section id='visualization'></section>
		<section id='control-bar'></section>
		
		<p id='version-number'><!-- set in main.js --></p>
		
	</body>
</html>
