@import 'visualization/visualization.scss';
@import 'play-controls.scss';

* {
	box-sizing: border-box;
}

body {
	font: 10pt sans-serif;
	margin: 0;
}

$green: rgb(7, 141,  62);
$blue: rgb(90, 195, 255);
$red: rgb(110, 0, 0);

h2 {
	font-size: larger;
}

h2, h3 {
	// color: lighten($red, 25%);
	color: $blue;
	font-weight: normal;
	border-bottom: 1px solid $blue;
}

html, body {
	height: 100%;
}

#info {
	background: fade-out( black, 0.2 );
	font-size: 12pt;
	position: absolute;
	width: 100%;
	min-height: 100%;
	left:   0;
	right:  0;
	z-index: 999;
	
	color: white;
	overflow-y: scroll;
	
	strong {
		color: $blue;
		font-weight: normal;
	}
	
	// show pointer cursor over entire info modal (including close button)
	// to indicate that it's clickable
	&, & button {
		cursor: pointer;
	}
	
	li {
		height: 1.5rem;
	}
	
	button[name=close] {
		background: none;
		border: none;
		color: white;
		padding: 0;
		line-height: 1.5em;
		width: 1.6em;
		text-align: center;
		font-size: x-large;
		position: absolute;
		top: 0;
		right: 0;
		
		&:hover, &:focus {
			outline: none;
		}
	}
	
	.column {
		max-width: 640px;
		padding: 1rem;
		margin: 0 auto;
	}
}

#visualization {
	height: 100%;
}

#version-number {
	color: white;
	font-size: x-small;
	display: inline-block;
	margin: 0;
	padding: 0.25rem 0.5rem;
	position: absolute;
	right: 0;
	bottom: 0;
}
