#play-controls {
	background: fade-out( black, 0.666 );
	bottom: 0;
	color: white;
	position: absolute;
	text-align: center;
	width: 100%;
	overflow: auto;
	padding: 0.25rem;
	
	button {
		margin: 0.25rem 0;
	}
	
	[name=offline] {
		display: none;
	}
	
	[name=elapsed-sim-time] {
		background: none;
		border: none;
		color: white;
		font-family: monospace;
		text-align: center;
		cursor: default;
		font-size: inherit;
		
		&:focus {
			outline: none;
		}
	}
}
